<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404637096308-ih85skch01rqn6981cgjpp9va0mo5bcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404637096308-ih85skch01rqn6981cgjpp9va0mo5bcg</string>
	<key>API_KEY</key>
	<string>AIzaSyCQgF0nEwdqvS6TiIIEGWeit_6YJJ20lRc</string>
	<key>GCM_SENDER_ID</key>
	<string>404637096308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astral</string>
	<key>PROJECT_ID</key>
	<string>astral-d3ff5</string>
	<key>STORAGE_BUCKET</key>
	<string>astral-d3ff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404637096308:ios:9205c05134696614b0b421</string>
</dict>
</plist>